@function torem($px) {
     @return $px /20px * 1rem;
}
#header {
    position: relative;
    flex: 1;
}
.hands {
    width: torem(320px);
    background-image: url("../img/c.png?sprite=main");
    height: torem(320px);
}
.con{
    background-image: url("../img/d.png?sprite=main");
}
.footer{
    background-image: url("../img/b.png");
}
